/* PC */
@media (min-width: 64em){

}

/* Tablet & mobile */
@media (max-width: 63.9375em){
    .btn{
        padding: 15px 16px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-submit-btn{
        font-size: 16px;
    }
    .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .copyright a{
        margin-top: 15px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-ful{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #header {
        /* overflow - noi dung the cha bi tran ra ngoai */
        overflow: hidden;
    }
    #header .mobile-menu {
        display: block;
    }

    #header .search-button {
        display: none;
    }

    #nav {
        display: block;
    }
    #nav .subnav{
        /* default position */
        position: inherit;
        background: #333;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 42px
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }
    
    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
}